//main: ../main.css

.test-block {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
    font-family: 'Noto Sans';
}

.test-block__main {
    padding: 48px 48px 16px 48px;
    background-color: #FFF;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;

    @media @breakpoint-mobile {
        padding: 27px 20px 64px 20px;
    }
}

.test-block__main__title {
    margin-bottom: 16px;
    font-weight: 600;
    font-size: 20px;
    line-height: 38px;

    @media @breakpoint-mobile {
        font-size: 15px;
        line-height: 28px;
    }
}

.test-block__main__box {
    margin-bottom: 48px;

    @media @breakpoint-mobile {
        margin-bottom: 32px;
    }
}

.test-block__main__chapter {
    margin-bottom: 128px;

    &:last-child {
        margin-bottom: 0;
    }

    @media @breakpoint-mobile {
        margin-bottom: 64px;
    }
}

.test-block__main__chapter__title {
    font-family: 'Roca Two';
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 40px;
    max-width: 956px;

    @media @breakpoint-mobile {
        font-size: 28px;
        line-height: 40px;
        margin-bottom: 24px;
        font-weight: 900;
    }
}

.test-block__footer {
    padding: 64px 0 96px 48px;
    background-color: #F6F8FD;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;

    @media @breakpoint-mobile {
        padding: 64px 20px 48px 20px;
    }
}

.test-block__footer__about {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    margin-bottom: 16px;
    line-height: 24px;

    @media @breakpoint-mobile {
        margin-bottom: 32px;
        max-width: 280px;
    }
}

.captcha-row {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;

    @media @breakpoint-mobile {
        gap: 8px;
    }
}

.captcha-inp {
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 8px;
    padding: 24px 0px 26px 40px;
    outline: none;
    border: none;
    width: 276px;
    min-height: 88px;
}

.upload-captcha {
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    margin-top: 16px;
    margin-bottom: 48px;
    cursor: pointer;

    &:active {
        position: relative;
        top: 1px;
    }

    @media @breakpoint-mobile {
        font-size: 12px;
        line-height: 18px;
        text-align: right;
        margin: 8px 0 32px 0;
    }
}

.captcha-btn {
    display: inline-block;
    .yellow__block();
    .btn();
    color: #FFF;
    padding: 24px 64px;
    border: none;
    cursor: pointer;
    transition: 0.5s;


    &:active {
        position: relative;
        top: 1px;
    }

    @media @breakpoint-mobile {
        max-width: 286px;
        width: 100%;
    }
}

.test-block__main__button {
    display: inline-block;
}

.test-block__container {
    max-width: 276px;
}

