//main: ../main.css

.article__header-content {
    padding-bottom: 64px;
}

.article__header-content__row {
    display: flex;
    justify-content: space-between;
}


.article__header-main__content__btn {
    display: inline-block;
    padding: 16px 32px 18px 56px;
    background-color: #FFF;
    font-family: 'Open Sans';
    font-size: 16px;
    line-height: 22px;
    text-decoration: none;
    color: @deep;
    border-radius: 6px;
    margin-bottom: 128px;
    position: relative;
    font-weight: 400;

    &::before{
        content: '';
        background-image: url(../images/article_img/header/arrow.svg);
        width: 24px;
        height: 24px;
        position: absolute;
        top: 16px;
        left: 16px;
    }
}

.article__header__img {
    width: 420px;
    height: 420px;
    border-radius: 50%;
}

.author__article {
    font-family: 'Noto Sans';
    font-size: 15px;
    line-height: 26px;
    opacity: 0.5;
    margin-top: 24px;
}