//main: ../main.css

.article-main__header-content {
    padding-bottom: 96px;
}

.article-main__header-content__title {
    margin-bottom: 24px;
}

.article-main__container {
    width: 1260px;
    margin: 0 auto;
    padding: 20px 0;
}