//main: ../main.css

.footer-order__row {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media @breakpoint-mobile {
        .footer-order__row.contacts-block__btns {
            display: none;
        }
        display: block;
    }
}

.footer-order {
    padding: 26px 0;
    background-color: @deep;
}

.footer-logo__group {
    display: flex;
    column-gap: 40px;
    align-items: center;

    @media @breakpoint-mobile {
        justify-content: space-between;
        column-gap: 0px;
    }
}

.footer-logo__order_about {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 22px;
    color: #FFFFFF;
    opacity: 0.5;
}