//main: ../main.css

.header-mobile__top{
    background-color: #FFF;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #EDEEEF;
    position: relative;
    z-index: 999;
}

.header-mobile__menu {
    display: flex;
    gap: 12px;
}

.header-mobile__menu__icon {
    width: 36px;
    height: 36px;
    border-radius: 6px;
    position: relative;

    &.header-mobile__menu__icon--red {
        background-color: @red;
    }

    &.header-mobile__menu__icon--grey {
        background: #F6F8FD;
    }

    &.header-mobile__menu__icon__timetable::before {
        content: '';
        .absolute__center();
        width: 24px;
        height: 24px;
        background-image: url(../images/header_mobile/date_range.svg);
    }

    &.header-mobile__menu__icon__message::before {
        content: '';
        .absolute__center();
        width: 20px;
        height: 20px;
        background-image: url(../images/header_mobile/chat_bubble_outline.svg);
    }

    &.header-mobile__menu__icon__call::before {
        content: '';
        .absolute__center();
        width: 20px;
        height: 20px;
        background-image: url(../images/header_mobile/call.svg);
    }
    
}

.header-mobile__nav {
    padding: 16px 20px 20px 20px;
    background-color: #FFF;
    box-shadow: 0px 2px 10px 0px rgba(39, 85, 96, 0.1);
    transition: 0.4s;

    &.scroll-home {
        transform: translateY(-100%);
    }

    &.visible {
        transform: translateY(0%);
    }
}



.header-mobile__nav-list {
    display: flex;
    justify-content: space-between;
}

.header-mobile__nav-item {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: #1C3965;
    opacity: 0.5;
    text-decoration: none;

    &.active {
        opacity: 1;
    }
}



.header-mobile {
    display: none;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99999;
    
    @media @breakpoint-mobile {
        display: block;
        
    }
}

.header-mobile__nav__dropdown {
    border: none;
    background-color: transparent;
    position: relative;
}

.dropdown-box__mobile {
    position: absolute;
    right: 20px;
    bottom: -196px;

    background-color: #ffffff;
    box-shadow: 0px 2px 20px rgba(39, 85, 96, 0.1);
    border-radius: 12px;
    padding: 24px;
}

.dropdown-list__mobile {
    & li {
        margin-bottom: 24px;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.dropdown-item__mobile {
    text-decoration: none;
    color: @deep;
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
}

