//main: ../main.css

.header-top__article-scroll {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 24px 48px;
    background-color: #FFF;
    box-shadow: 0px 2px 20px rgba(39, 85, 96, 0.1);
    z-index: 9999;
    display: flex;
    justify-content: space-between;
    transition: 0.5s;

    @media @breakpoint-mobile {
        display: none;
    }
}

.header-top__article-scroll__title {
    font-family: 'Noto Sans';
    font-size: 20px;
    line-height: 38px;
    margin-bottom: 4px;

    & span {
        font-weight: bold;
    }
}

.header-top__article-scroll__row {
    display: flex;
    align-items: center;
    column-gap: 38px;
}

.header-top__article-scroll__about {
    display: flex;
    column-gap: 24px;
}

.header-top__article-scroll__about__text {
    font-family: 'Noto Sans';
    line-height: 24px;
    opacity: 0.7;
    padding-left: 24px;
    position: relative;

    &.person::after {
        content: '';
        background-image: url(../images/article_img/header/supervisor_account.svg);
        width: 24px;
        height: 24px;
        position: absolute;
        left: -5px;
    }

    &.like::after {
        content: '';
        background-image: url(../images/article_img/header/thumb_up.svg);
        width: 24px;
        height: 24px;
        position: absolute;
        left: -5px;
    }
}

.header__mobile-top__article-scroll {
    position: fixed;
    top: 0;
    z-index: 9998;
    width: 100%;
    background: #FFF;
    padding: 16px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.article-about__course__btn {
    font-family: 'Open Sans';
    display: inline-block;
    font-weight: 600;
    font-size: 13px;
    line-height: 18px;
    color: #FFF;
    background: #FE6534;
    border-radius: 6px;
    padding: 9px 24px;
    text-decoration: none;
}

.article-about__course__subtitle {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    max-width: 78px;
    color: #1C3965;
    opacity: 0.7;
    position: relative;

    &::before {
        content: '';
        width: 24px;
        height: 24px;
        position: absolute;
        background:url(../images/header_mobile/supervisor_account.svg);
        left: -30px;
        top: 50%;
        transform: translateY(-50%);
    }
}