//main: ../main.css

.about-courses__row__title {
    width: 367px;
    padding-top: 64px;
}

.about__courses {
    padding: 128px 0;
    border-bottom: 1px solid @grey;
}

.about__courses-video {
    background-color: black;
    border-radius: 12px;
    height: 425px;
    margin-bottom: 72px;
}

.about-courses__row {
    display: flex;
    justify-content: space-between;
}

.about-courses__subtitle {
    max-width: 776px;
    margin-bottom: 16px;
}

.about-courses-list {
    list-style: url(../images/main/home__main/icons/yellow_circle.svg);
}

.about-courses-list__item {
    margin-bottom: 14px;
    font-family: 'Noto Sans';
    font-size: 20px;
    line-height: 40px;
    max-width: 776px;

    & span {
        position: relative;
        top: 2px;
        left: 10px;
    }
}

.about-courses__subtitle {
    margin-bottom: 40px;
}

.about-courses-item {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
    margin-left: 20px;
    position: relative;

    &:before {
        content: '';
        width: 8px;
        height: 8px;
        background-color: #FFB924;
        border-radius: 50%;

        position: absolute;
        left: -20px;
        top: 16px;
        
    }
}

.about-course-list {
    margin-bottom: 32px;
}

.about-courses__block__text {
    margin-bottom: 32px;
}

.about-courses__block__text:last-child {
    margin: 0;
}

.about-courses-item--small {
    font-size: 16px;
    opacity: 0.8;
}