// main: ../main.css

.acquaintance__company {
    padding: 129px 0;
    .block__color(#F6F8FD)
}

.acquaintance-company__title {
    margin-bottom: 16px;
}

.acquaintance-company__subtitle {
    margin-bottom: 62px;
}



.course-lessons__card {
    &.course-lessons-card__white {
        .block__color(#FFF)
    }
}

.main-link__acquaintance {
    margin-top: 48px;
    max-width: 373px;
    font-weight: 600;
    height: 67px;
    font-size: 15px;
    border: none;
}
