//main: ../main.css

.bank-transfer {
    padding-top: 64px;
}

.requisites-table {
    margin-top: 64px;
    max-width: 950px;

    & tr {
        
        display: flex;
        align-items: center;
        margin-bottom: 46px;
        justify-content: space-between;

        @media @breakpoint-mobile {
            flex-direction: column;
            max-width: 308px;
            align-items: flex-start;
            justify-content: flex-start;
            margin-bottom: 32px;
        }
    }

    @media @breakpoint-mobile {
        margin-top: 52px;
    }

}

.requisites-table__title {
    font-family: 'Noto Sans';
    font-size: 15px;
    line-height: 30px;
    opacity: 0.7;

    @media @breakpoint-mobile {
        font-size: 13px;
        line-height: 30px;
    }
}

.requisites-table__info {
    width: 550px;
    font-family: 'Noto Sans';
    font-size: 20px;
    line-height: 38px;
    text-align: left;
    margin-left: 100px;

    @media @breakpoint-mobile {
        font-size: 17px;
        line-height: 28px;
        margin-left: 0;
        max-width: 308px;
    }
}