//main: ../main.css

.course-program {
    padding: 128px 0;
    border-bottom: 1px solid @grey;
}

.course-program__title {
    margin-bottom: 16px;
}

.course-program__subtitle {
    margin-bottom: 64px;
}