//main: ../main.css


.enrolled-block {
    padding-top: 196px;
    padding-bottom: 171px;
    position: relative;

    
}

.enrolled-block__content__title {
    font-family: 'Roca Two';
    font-weight: 900;
    font-size: 56px;
    line-height: 70px;
    margin-bottom: 16px;
    max-width: 780px;
}

.enrolled-block__content__subtitle {
    font-family: 'Open Sans';
    font-size: 22px;
    line-height: 36px;
    max-width: 516px;
}

.enrolled-block__star {
    position: absolute;
    bottom: 0;
    right: 130px;
    width: 611px;
    height: 293px;
    background-image: url(../images/test_img/star_icon.svg);
}