//main: ../main.css

.main-courses {
    padding: 128px 0 0;
}

.main-courses__home {
    border-bottom: 1px solid #EDEEEF;
}

.courses-product__cards--home {
    margin-bottom: 50px;
}

.main-courses__home {
    padding-bottom: 128px;
}

.main__title--course {
    margin-bottom: 16px;
}

.main__subtitle--course {
    margin-bottom: 62px;
}

.main-courses__blocks--home {
    margin-bottom: 48px;

}

