// main: ../main.css

.master__classes__block {
    padding: 128px 0;
    border-bottom: 1px solid @grey;
    font-weight: 600;

    @media @breakpoint-mobile {
        padding: 64px 0;
    }
}

.master-classes-block__title {
    margin-bottom: 41px;

    @media @breakpoint-mobile {
        margin-bottom: 32px;
    }
}

.main-link__master__classes {
    .block__color(#F6F8FD);
    max-width: 373px;
    height: 67px;
    font-size: 15px;
    border: none;

    & p {
        font-family: 'Noto Sans Display',sans-serif;
        font-size: 15px;
    }

    & img {
        height: 24px;
        width: 24px;
    }
}