// main: ../main.css

.templates-header-content__title {
    max-width: 870px;
    margin-bottom: 16px;
}

.temlates-content_about {
    margin-bottom: 32px;
}

.header-content__templates__courses {
    padding-bottom: 94px;
}