// main: ../main.css

.vantage__company {
    padding: 128px 0;
    background: #F6F8FD;

    @media @breakpoint-mobile {
        padding: 64px 0;
    }
}

.main-subtitle__vantage {
    margin: 16px 0 64px 0;

    @media @breakpoint-mobile {
        margin-bottom: 48px;
    }
}

.vantage-company__cards {
    display: flex;
    justify-content: space-between;

    @media @breakpoint-mobile {
        flex-direction: column;
        gap: 24px;
        align-items: center;
    }
}

.vantage-company__card {
    position: relative;
    overflow: hidden;

    @media @breakpoint-mobile {
        max-width: 320px;
    }

    &:hover .vantage-company__card__hover-animate {
        transform: translateX(0%);
    }
}

.vantage-star {
    position: absolute;
    left: 32px;
    top: 32px;
}

.vantage-company__card__img {
    position: relative;

    & img {
        @media @breakpoint-mobile {
            width: 320px;
            height: 308px;
        }
    }

}

.vantage-company__card__hover-animate {
    position: absolute;
    height: 100%;
    width: 100%;
    background: #FE6534;
    top: 0;
    left: 0;
    border-radius: 12px;
    transition: 0.4s;

    &.vantage-company__card__hover-animate--left {
        transform: translateX(-100%);
    }

    &.vantage-company__card__hover-animate--right {
        transform: translateX(100%);
    }

    @media @breakpoint-mobile {
        display: none;
    }
}


.vantage-company__text {
    font-family: 'Noto Sans';
    font-weight: 600;
    font-size: 20px;
    line-height: 34px;
    color: #FFFFFF;
    max-width: 341px;
    z-index: 100;

    position: absolute;
    bottom: 32px;
    right: 0;

    & span{
        color: rgba(255, 185, 36, 1);
    }

    @media @breakpoint-mobile {
        font-size: 17px;
        line-height: 28px;
        left: 24px;
    }
}