// main: ../main.css

.vantage__company {
    padding: 128px 0;
    background: #F6F8FD;
}

.main-subtitle__vantage {
    margin: 16px 0 64px 0;
}

.vantage-company__cards {
    display: flex;
    justify-content: space-between;
}

.vantage-company__card {
    position: relative;
}


.vantage-company__text {
    font-family: 'Noto Sans';
    font-weight: 600;
    font-size: 20px;
    line-height: 34px;
    color: #FFFFFF;
    max-width: 341px;

    position: absolute;
    bottom: 32px;
    right: 0;

    & span{
        color: rgba(255, 185, 36, 1);
    }
}