// main: ../main.css

.header-content__about-us {
    padding-bottom: 332px;
    position: relative;
}

.about-us-page__video{
    height: 546px;
    border-radius: 12px;
    width: 100%;

    position: absolute;
    bottom: -280px;


}

.about-us-page__video__preview {
    position: absolute;
    border-radius: 12px;
    background: linear-gradient(0deg, rgba(28, 57, 101, 0.1), rgba(28, 57, 101, 0.1));
    overflow: hidden;

    & img {
        transition: 1s;

        @media @breakpoint-mobile {
            width: 100%;
        }
    }

    &:hover img{
        transform: scale(1.05);
    }

    //@media @breakpoint-mobile {
    //    width: 100%;
    //}
}

.main_about-us {
    padding-top: 388px;
}