.consultation-content_about {
  width: 100%;
  margin-bottom: 32px;
}
.contacts-btn__consultation {
  display: inline-block;
  padding: 12px 32px;
  margin-bottom: 16px;
}
.consultation-page__row {
  display: flex;
  font-family: 'Noto Sans';
  column-gap: 32px;
}
.consultation-tel {
  font-size: 15px;
  line-height: 26px;
  color: #1C3965;
  opacity: 0.5;
  text-decoration: none;
}
.consultation-tel:hover {
  text-decoration: underline;
}
.consultation-price {
  font-size: 15px;
  line-height: 26px;
  color: #1C3965;
  opacity: 0.5;
}
.header-content__consultation-page {
  padding-bottom: 157px;
}
.header__content_title__consultation {
  margin-bottom: 16px;
}
