.main-courses__templates {
  padding: 64px 0 128px 0;
}
.courses-link {
  padding: 65px 0;
  background-color: #F6F8FD;
}
.main-link__courses {
  background-color: #FFF;
}
.main-courses__blocks__courses {
  margin-bottom: 48px;
}
